html #music, html #contacto, html #about {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; }

.contact-content .contact #boton, footer form .boton {
  border-radius: 10px;
  background-color: #f39143;
  color: #560d50; }
  .contact-content .contact #boton:hover, footer form .boton:hover {
    background-color: #e8a1aa;
    cursor: pointer; }

footer .social-bar .icon, header .navbar #MenuNavegacion ul li {
  transition: all .5s; }
  footer .social-bar .icon:hover, header .navbar #MenuNavegacion ul li:hover {
    border-radius: 10px;
    transform: scale(1.15);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42); }

footer, header {
  border-radius: 30px;
  background-color: rgba(86, 13, 80, 0.3);
  box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.37);
  backdrop-filter: blur 18px; }

.about-content div h2, .contact-content .contact h2, .gallery-container div h2, header .navbar h1, header .navbar #MenuNavegacion ul li a {
  color: #f39143;
  -webkit-text-stroke: 0.5px black; }

.about-content div h2 {
  font-family: 'Chicle', cursive;
  font-size: 36px;
  animation: to-color 2s ease-in; }

@keyframes to-color {
  from {
    color: transparent; }
  to {
    color: #f39143; } }

.about-content div p {
  font-family: 'Bubbler One', sans-serif;
  color: white;
  animation: to-white 3.5s ease-in; }

@keyframes to-white {
  from {
    color: transparent; }
  to {
    color: white; } }

html #music, html #contacto, html #about {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; }

.contact-content .contact #boton, footer form .boton {
  border-radius: 10px;
  background-color: #f39143;
  color: #560d50; }
  .contact-content .contact #boton:hover, footer form .boton:hover {
    background-color: #e8a1aa;
    cursor: pointer; }

footer .social-bar .icon, header .navbar #MenuNavegacion ul li {
  transition: all .5s; }
  footer .social-bar .icon:hover, header .navbar #MenuNavegacion ul li:hover {
    border-radius: 10px;
    transform: scale(1.15);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42); }

footer, header {
  border-radius: 30px;
  background-color: rgba(86, 13, 80, 0.3);
  box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.37);
  backdrop-filter: blur 18px; }

.about-content div h2, .contact-content .contact h2, .gallery-container div h2, header .navbar h1, header .navbar #MenuNavegacion ul li a {
  color: #f39143;
  -webkit-text-stroke: 0.5px black; }

.contact-content .contact {
  margin-left: 3vw;
  margin-top: 4vh;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 30px;
  width: 50%; }
  .contact-content .contact h2 {
    color: #f39143;
    text-align: center;
    margin-bottom: 4vw;
    font-family: 'Chicle', cursive; }
  .contact-content .contact input, .contact-content .contact textarea {
    width: 100%;
    margin-bottom: 2vw;
    padding: 7px;
    box-sizing: border-box;
    font-family: 'Bubbler One', sans-serif;
    border-radius: 10px;
    border: 1px, solid, transparent; }
  .contact-content .contact textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%; }
  .contact-content .contact #boton {
    padding: 20px; }

@media (max-width: 700px) {
  #contacto .contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column; } }

@media (max-width: 500px) {
  #contacto .contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column; }
    #contacto .contact-content .contact #boton {
      padding: 10px; } }

html #music, html #contacto, html #about {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; }

.contact-content .contact #boton, footer form .boton {
  border-radius: 10px;
  background-color: #f39143;
  color: #560d50; }
  .contact-content .contact #boton:hover, footer form .boton:hover {
    background-color: #e8a1aa;
    cursor: pointer; }

footer .social-bar .icon, header .navbar #MenuNavegacion ul li {
  transition: all .5s; }
  footer .social-bar .icon:hover, header .navbar #MenuNavegacion ul li:hover {
    border-radius: 10px;
    transform: scale(1.15);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42); }

footer, header {
  border-radius: 30px;
  background-color: rgba(86, 13, 80, 0.3);
  box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.37);
  backdrop-filter: blur 18px; }

.about-content div h2, .contact-content .contact h2, .gallery-container div h2, header .navbar h1, header .navbar #MenuNavegacion ul li a {
  color: #f39143;
  -webkit-text-stroke: 0.5px black; }

footer {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2; }
  footer form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 80vw;
    margin-left: 15vw;
    margin-top: 2vw; }
    footer form .form-control {
      width: 68%;
      height: 35%;
      margin-right: 2vw;
      font-family: 'Bubbler One', sans-serif; }
    footer form .boton {
      width: 30%;
      height: 35%;
      font-family: 'Bubbler One', sans-serif; }
  footer .social-bar {
    display: flex;
    list-style-type: none;
    margin-top: 2vw; }
    footer .social-bar .icon {
      margin-bottom: 2vh;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: row; }
    footer .social-bar img {
      width: 15%; }

@media (max-width: 700px) {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column; }
    footer form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: column; }
      footer form .form-control {
        width: 100%;
        height: 15%; }
      footer form .boton {
        width: 45%;
        left: 20vw; }
    footer .title-form h3 {
      font-size: 18px; }
    footer .social-bar {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: row; }
      footer .social-bar .icon img {
        width: 20%; } }

@media (max-width: 500px) {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column; }
    footer form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: column; }
      footer form .form-control {
        width: 100%;
        height: 15%; }
      footer form .boton {
        width: 50%;
        left: 20vw; }
    footer .title-form h3 {
      font-size: 18px; }
    footer .social-bar {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: row; }
      footer .social-bar .icon img {
        width: 30%; } }

html #music, html #contacto, html #about {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; }

.contact-content .contact #boton, footer form .boton {
  border-radius: 10px;
  background-color: #f39143;
  color: #560d50; }
  .contact-content .contact #boton:hover, footer form .boton:hover {
    background-color: #e8a1aa;
    cursor: pointer; }

footer .social-bar .icon, header .navbar #MenuNavegacion ul li {
  transition: all .5s; }
  footer .social-bar .icon:hover, header .navbar #MenuNavegacion ul li:hover {
    border-radius: 10px;
    transform: scale(1.15);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42); }

footer, header {
  border-radius: 30px;
  background-color: rgba(86, 13, 80, 0.3);
  box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.37);
  backdrop-filter: blur 18px; }

.about-content div h2, .contact-content .contact h2, .gallery-container div h2, header .navbar h1, header .navbar #MenuNavegacion ul li a {
  color: #f39143;
  -webkit-text-stroke: 0.5px black; }

.gallery-container div h2 {
  font-size: 40px;
  font-family: 'Chicle', cursive; }

.gallery-container div div img {
  width: 70%;
  transition: all .8s; }
  .gallery-container div div img:hover {
    transform: scale(3);
    cursor: pointer; }

@media (min-width: 900px) {
  #gallery .gallery-container div div img {
    width: 96%;
    transition: all .8s; }
    #gallery .gallery-container div div img:hover {
      transform: scale(1.5);
      cursor: pointer; } }

@media (max-width: 700px) {
  #gallery .gallery-container div div img {
    width: 96%;
    transition: all .8s; }
    #gallery .gallery-container div div img:hover {
      transform: scale(2);
      cursor: pointer; } }

@media (max-width: 500px) {
  #gallery .gallery-container div div img {
    width: 100%;
    transition: none; }
    #gallery .gallery-container div div img:hover {
      transform: none;
      cursor: auto; } }

html #music, html #contacto, html #about {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; }

.contact-content .contact #boton, footer form .boton {
  border-radius: 10px;
  background-color: #f39143;
  color: #560d50; }
  .contact-content .contact #boton:hover, footer form .boton:hover {
    background-color: #e8a1aa;
    cursor: pointer; }

footer .social-bar .icon, header .navbar #MenuNavegacion ul li {
  transition: all .5s; }
  footer .social-bar .icon:hover, header .navbar #MenuNavegacion ul li:hover {
    border-radius: 10px;
    transform: scale(1.15);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42); }

footer, header {
  border-radius: 30px;
  background-color: rgba(86, 13, 80, 0.3);
  box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.37);
  backdrop-filter: blur 18px; }

.about-content div h2, .contact-content .contact h2, .gallery-container div h2, header .navbar h1, header .navbar #MenuNavegacion ul li a {
  color: #f39143;
  -webkit-text-stroke: 0.5px black; }

header {
  position: relative;
  z-index: 2; }
  header .navbar h1 {
    font-family: 'Chicle', cursive;
    font-size: 45px; }
  header .navbar #MenuNavegacion ul li a {
    font-family: 'Chicle', cursive;
    font-size: 26px; }

html #music, html #contacto, html #about {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; }

.contact-content .contact #boton, footer form .boton {
  border-radius: 10px;
  background-color: #f39143;
  color: #560d50; }
  .contact-content .contact #boton:hover, footer form .boton:hover {
    background-color: #e8a1aa;
    cursor: pointer; }

footer .social-bar .icon, header .navbar #MenuNavegacion ul li {
  transition: all .5s; }
  footer .social-bar .icon:hover, header .navbar #MenuNavegacion ul li:hover {
    border-radius: 10px;
    transform: scale(1.15);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42); }

footer, header {
  border-radius: 30px;
  background-color: rgba(86, 13, 80, 0.3);
  box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.37);
  backdrop-filter: blur 18px; }

.about-content div h2, .contact-content .contact h2, .gallery-container div h2, header .navbar h1, header .navbar #MenuNavegacion ul li a {
  color: #f39143;
  -webkit-text-stroke: 0.5px black; }

#index {
  min-height: 100 vh;
  position: relative; }
  #index video {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover; }
  #index .capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #560d50;
    opacity: 0.5;
    mix-blend-mode: overlay; }
  #index .main-index {
    padding: 40vh; }

html #music, html #contacto, html #about {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; }

.contact-content .contact #boton, footer form .boton {
  border-radius: 10px;
  background-color: #f39143;
  color: #560d50; }
  .contact-content .contact #boton:hover, footer form .boton:hover {
    background-color: #e8a1aa;
    cursor: pointer; }

footer .social-bar .icon, header .navbar #MenuNavegacion ul li {
  transition: all .5s; }
  footer .social-bar .icon:hover, header .navbar #MenuNavegacion ul li:hover {
    border-radius: 10px;
    transform: scale(1.15);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42); }

footer, header {
  border-radius: 30px;
  background-color: rgba(86, 13, 80, 0.3);
  box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.37);
  backdrop-filter: blur 18px; }

.about-content div h2, .contact-content .contact h2, .gallery-container div h2, header .navbar h1, header .navbar #MenuNavegacion ul li a {
  color: #f39143;
  -webkit-text-stroke: 0.5px black; }

.music-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 8%; }
  .music-content .tapa img {
    width: 80%; }

@media (max-width: 700px) {
  .music-content .tapa {
    display: none; } }

html #music, html #contacto, html #about {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; }

.contact-content .contact #boton, footer form .boton {
  border-radius: 10px;
  background-color: #f39143;
  color: #560d50; }
  .contact-content .contact #boton:hover, footer form .boton:hover {
    background-color: #e8a1aa;
    cursor: pointer; }

footer .social-bar .icon, header .navbar #MenuNavegacion ul li {
  transition: all .5s; }
  footer .social-bar .icon:hover, header .navbar #MenuNavegacion ul li:hover {
    border-radius: 10px;
    transform: scale(1.15);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42); }

footer, header {
  border-radius: 30px;
  background-color: rgba(86, 13, 80, 0.3);
  box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.37);
  backdrop-filter: blur 18px; }

.about-content div h2, .contact-content .contact h2, .gallery-container div h2, header .navbar h1, header .navbar #MenuNavegacion ul li a {
  color: #f39143;
  -webkit-text-stroke: 0.5px black; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  html #music {
    background-image: url(../Media/Fotos/buganvilia.svg); }
  html #gallery {
    background-image: url(../Media/Fotos/buganvilia.svg); }
  html #contacto {
    background-image: url(../Media/Fotos/ojo-de-pez.svg); }
  html #about {
    background-image: url(../Media/Fotos/funky-side.svg); }
