.contact-content .contact #boton, footer form .boton {
  border-radius: 10px;
  background-color: #f39143;
  color: #560d50; }
  .contact-content .contact #boton:hover, footer form .boton:hover {
    background-color: #85097b;
    cursor: pointer; }

footer .social-bar .icon, header .navbar #MenuNavegacion ul li {
  transition: all .5s; }
  footer .social-bar .icon:hover, header .navbar #MenuNavegacion ul li:hover {
    border-radius: 10px;
    transform: scale(1.15);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42); }

footer, header {
  border-radius: 30px;
  background-color: rgba(86, 13, 80, 0.3);
  box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.37);
  backdrop-filter: blur 18px; }

@font-face {
  font-family: titulos-funky;
  src: url(../../Fuentes/Chicle/Chicle-Regular.ttf); }

@font-face {
  font-family: parrafos;
  src: url(../../Fuentes/Bubbler_One/BubblerOne-Regular.ttf); }

.about {
  background-image: url(../../Media/Fotos/about-fondo2.svg);
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .about .about-content div p {
    font-family: parrafos;
    color: white; }
  .about .about-content div img {
    width: 98%; }

.contact-content .contact #boton, footer form .boton {
  border-radius: 10px;
  background-color: #f39143;
  color: #560d50; }
  .contact-content .contact #boton:hover, footer form .boton:hover {
    background-color: #85097b;
    cursor: pointer; }

footer .social-bar .icon, header .navbar #MenuNavegacion ul li {
  transition: all .5s; }
  footer .social-bar .icon:hover, header .navbar #MenuNavegacion ul li:hover {
    border-radius: 10px;
    transform: scale(1.15);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42); }

footer, header {
  border-radius: 30px;
  background-color: rgba(86, 13, 80, 0.3);
  box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.37);
  backdrop-filter: blur 18px; }

.contacto {
  background-image: url(../../Media/Fotos/ojo-de-pez.svg);
  background-attachment: fixed;
  background-repeat: no-repeat; }

.contact-content .contact {
  margin-left: 3vw;
  margin-top: 4vh;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 30px;
  width: 50%; }
  .contact-content .contact h2 {
    color: #f39143;
    text-align: center;
    margin-bottom: 4vw;
    font-family: titulos-funky; }
  .contact-content .contact input, .contact-content .contact textarea {
    width: 100%;
    margin-bottom: 2vw;
    padding: 7px;
    box-sizing: border-box;
    font-family: parrafos;
    border-radius: 10px;
    border: 1px, solid, transparent; }
  .contact-content .contact textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%; }
  .contact-content .contact #boton {
    padding: 20px; }

.contact-content .contact #boton, footer form .boton {
  border-radius: 10px;
  background-color: #f39143;
  color: #560d50; }
  .contact-content .contact #boton:hover, footer form .boton:hover {
    background-color: #85097b;
    cursor: pointer; }

footer .social-bar .icon, header .navbar #MenuNavegacion ul li {
  transition: all .5s; }
  footer .social-bar .icon:hover, header .navbar #MenuNavegacion ul li:hover {
    border-radius: 10px;
    transform: scale(1.15);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42); }

footer, header {
  border-radius: 30px;
  background-color: rgba(86, 13, 80, 0.3);
  box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.37);
  backdrop-filter: blur 18px; }

footer {
  margin-top: 5vh;
  display: flex;
  position: relative;
  z-index: 2; }
  footer form {
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin-left: 15vw;
    margin-top: 2vw; }
    footer form .form-control {
      width: 60%;
      height: 35%;
      margin-right: 2vw;
      font-family: parrafos; }
    footer form .boton {
      width: 25%;
      height: 35%;
      font-family: parrafos; }
  footer .title-form {
    position: relative;
    top: 14vh;
    right: 30vw;
    width: 35%; }
    footer .title-form h3 {
      font-size: 30px;
      padding: 5px;
      font-family: titulos-funky;
      color: #f39143; }
  footer .social-bar {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    position: relative;
    left: 5vw; }
    footer .social-bar .icon {
      margin-bottom: 2vh;
      display: flex;
      padding: 5px; }
    footer .social-bar img {
      width: 15%;
      display: flex; }

.contact-content .contact #boton, footer form .boton {
  border-radius: 10px;
  background-color: #f39143;
  color: #560d50; }
  .contact-content .contact #boton:hover, footer form .boton:hover {
    background-color: #85097b;
    cursor: pointer; }

footer .social-bar .icon, header .navbar #MenuNavegacion ul li {
  transition: all .5s; }
  footer .social-bar .icon:hover, header .navbar #MenuNavegacion ul li:hover {
    border-radius: 10px;
    transform: scale(1.15);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42); }

footer, header {
  border-radius: 30px;
  background-color: rgba(86, 13, 80, 0.3);
  box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.37);
  backdrop-filter: blur 18px; }

.gallery {
  background-image: url(../../Media/Fotos/buganvilia.svg);
  background-attachment: fixed;
  background-repeat: no-repeat; }
  .gallery div div img {
    width: 70%; }

.contact-content .contact #boton, footer form .boton {
  border-radius: 10px;
  background-color: #f39143;
  color: #560d50; }
  .contact-content .contact #boton:hover, footer form .boton:hover {
    background-color: #85097b;
    cursor: pointer; }

footer .social-bar .icon, header .navbar #MenuNavegacion ul li {
  transition: all .5s; }
  footer .social-bar .icon:hover, header .navbar #MenuNavegacion ul li:hover {
    border-radius: 10px;
    transform: scale(1.15);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42); }

footer, header {
  border-radius: 30px;
  background-color: rgba(86, 13, 80, 0.3);
  box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.37);
  backdrop-filter: blur 18px; }

@font-face {
  font-family: titulos-funky;
  src: url(../../Fuentes/Chicle/Chicle-Regular.ttf); }

@font-face {
  font-family: parrafos;
  src: url(../../Fuentes/Bubbler_One/BubblerOne-Regular.ttf); }

header {
  position: relative;
  z-index: 2; }
  header .navbar h1 {
    font-family: titulos-funky;
    color: #f39143;
    font-size: 45px; }
  header .navbar #MenuNavegacion ul li a {
    font-family: titulos-funky;
    font-size: 20px;
    color: #f39143; }

@font-face {
  font-family: titulos-funky;
  src: url(../../Fuentes/Chicle/Chicle-Regular.ttf); }

@font-face {
  font-family: parrafos;
  src: url(../../Fuentes/Bubbler_One/BubblerOne-Regular.ttf); }

.contact-content .contact #boton, footer form .boton {
  border-radius: 10px;
  background-color: #f39143;
  color: #560d50; }
  .contact-content .contact #boton:hover, footer form .boton:hover {
    background-color: #85097b;
    cursor: pointer; }

footer .social-bar .icon, header .navbar #MenuNavegacion ul li {
  transition: all .5s; }
  footer .social-bar .icon:hover, header .navbar #MenuNavegacion ul li:hover {
    border-radius: 10px;
    transform: scale(1.15);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42); }

footer, header {
  border-radius: 30px;
  background-color: rgba(86, 13, 80, 0.3);
  box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.37);
  backdrop-filter: blur 18px; }

#index {
  min-height: 100 vh;
  position: relative; }
  #index video {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover; }
  #index .capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #560d50;
    opacity: 0.5;
    mix-blend-mode: overlay; }
  #index .main-index {
    padding: 40vh; }

.contact-content .contact #boton, footer form .boton {
  border-radius: 10px;
  background-color: #f39143;
  color: #560d50; }
  .contact-content .contact #boton:hover, footer form .boton:hover {
    background-color: #85097b;
    cursor: pointer; }

footer .social-bar .icon, header .navbar #MenuNavegacion ul li {
  transition: all .5s; }
  footer .social-bar .icon:hover, header .navbar #MenuNavegacion ul li:hover {
    border-radius: 10px;
    transform: scale(1.15);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42); }

footer, header {
  border-radius: 30px;
  background-color: rgba(86, 13, 80, 0.3);
  box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.37);
  backdrop-filter: blur 18px; }

@font-face {
  font-family: titulos-funky;
  src: url(../../Fuentes/Chicle/Chicle-Regular.ttf); }

@font-face {
  font-family: parrafos;
  src: url(../../Fuentes/Bubbler_One/BubblerOne-Regular.ttf); }

.music {
  background-image: url(../../Media/Fotos/buganvilia.svg);
  background-attachment: fixed;
  background-repeat: no-repeat; }

.contact-content .contact #boton, footer form .boton {
  border-radius: 10px;
  background-color: #f39143;
  color: #560d50; }
  .contact-content .contact #boton:hover, footer form .boton:hover {
    background-color: #85097b;
    cursor: pointer; }

footer .social-bar .icon, header .navbar #MenuNavegacion ul li {
  transition: all .5s; }
  footer .social-bar .icon:hover, header .navbar #MenuNavegacion ul li:hover {
    border-radius: 10px;
    transform: scale(1.15);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42); }

footer, header {
  border-radius: 30px;
  background-color: rgba(86, 13, 80, 0.3);
  box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.37);
  backdrop-filter: blur 18px; }

@font-face {
  font-family: titulos-funky;
  src: url(../../Fuentes/Chicle/Chicle-Regular.ttf); }

@font-face {
  font-family: parrafos;
  src: url(../../Fuentes/Bubbler_One/BubblerOne-Regular.ttf); }
