@import '../base/extend';
@import '../base/listas';
@import '../base/mixin';
@import '../base/mixin';
@import '../base/global';


.about{
    background-image: url(../../Media/Fotos/about-fondo2.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .about-content{
        div{
            h2{
                @extend %titulos-y-subs;
                font-family: map-get($fuentes,titulos);
                font-size: map-get($tamanios-fuente, subtitulos);
            }
        }
        div{
            p{
                font-family: map-get($fuentes, parrafos );
                color: white;
            }
        }
        div{
            img{
                width: 98%;
            }
        }
    }
}
