@import '../base/extend';
@import '../base/listas';
@import '../base/mixin';
@import '../base/mixin';

.about-content{
    div{
        h2{
            @extend %titulos-y-subs;
            font-family: 'Chicle', cursive;
            font-size: map-get($tamanios-fuente, subtitulos);
            animation: to-color 2s ease-in;
            @keyframes to-color {
                from {
                    color: transparent;
                }
                to {
                    color: map-get($colores, jaffa);
                }
            }
        }
    }
    div{
        p{
            font-family: 'Bubbler One', sans-serif;
            color: white;
            animation: to-white 3.5s ease-in;
            @keyframes to-white {
                from {
                    color: transparent;
                }
                to {
                    color: white;
                }
            }
        }
    }
}


