@import '../base/extend';
@import '../base/listas';
@import '../base/mixin';
@import '../base/mixin';

.contact-content{
    .contact{
        margin-left: 3vw;
        margin-top: 4vh;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 10px 20px ;
        box-sizing: border-box;
        border-radius: 30px;
        width: 50%;
        h2{
            color: map-get($colores, jaffa);
            text-align: center;
            margin-bottom: 4vw;
            font-family: 'Chicle', cursive;
            @extend %titulos-y-subs;
        }
        input, textarea {
            width: 100%;
            margin-bottom: 2vw;
            padding: 7px;
            box-sizing: border-box;
            font-family: 'Bubbler One', sans-serif;
            border-radius: 10px;
            border: 1px, solid, transparent;
        }
        textarea {
            min-height: 100px;
            max-height: 200px;
            max-width: 100%;
        }
        #boton{
            padding: 20px;
            @extend %boton-form;
        }
    }
}

@media (max-width:700px) {
    #contacto{
        .contact-content{
            @include flex(center, center, nowrap, column);
        }
    }
}

@media (max-width:500px) {
    #contacto{
        .contact-content{
            @include flex(center, center, nowrap, column);
            .contact{
                position: relative;
                top: 12vh;
                #boton{
                    padding: 10px;
                }
            }
        }
    }
}