@import '../base/extend';
@import '../base/listas';
@import '../base/variables';

footer {
    padding: 5px;
    margin: 2px;
    height: 15vh;
    display: flex;
    form{
        display: flex;
        flex-direction: row;
        padding: 2px;
        position: relative;
        top: 5vh;
        left: 5vw;
        div{
            input{
                width: 60%;
                margin-right: 5px;
            }
        }
    }
    .title-form{
        position: relative;
        top: 15vh;
        right: 10vw;
    }
    nav {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        position: relative;
        left: 50vw;
                a{
                    margin-bottom: 2vh;
                    img{
                        width: 8%;
                    }
                }
            }
        }
    div{
        display:block
    }
