@import '../base/extend';
@import '../base/listas';

footer {
    margin-top: 5vh;
    display: flex;
    position: relative;
    z-index: 2;
    @extend %glass-morphism;
    form{
        display: flex;
        flex-direction: row;
        width: 80vw;
        margin-left: 15vw;
        margin-top: 2vw;
        .form-control{
            width: 60%;
            height: 35%;
            margin-right: 2vw;
            font-family: map-get($font-family, parrafos);
        }
        .boton {
            width: 25%;
            height: 35%;
            font-family: map-get($font-family, parrafos);
            @extend %boton-form;
        }
    }
    .title-form{
        position: relative;
        top: 14vh;
        right: 30vw;
        width:35% ;
        h3{
            font-size: map-get($tamanios-fuente, subtitulos);
            padding: 5px;
            font-family: map-get($font-family, titulos);
            color: map-get($colores, jaffa);
        }
    }
    .social-bar {
        display: flex;
        flex-direction: column;        
        list-style-type: none;
        position: relative;
        left: 5vw;
                .icon{
                    margin-bottom: 2vh;
                    display: flex;
                    padding: 5px;
                    @extend %animacion-nav;
                    }
                    img{
                        width: 15%;
                        display: flex;
                }
    }
}

