@import '../base/extend';
@import '../base/listas';
@import '../base/mixin';
@import '../base/mixin';
footer {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    @extend %glass-morphism;
    form{
        @include flex(center, center, nowrap, row);
        width: 80vw;
        margin-left: 15vw;
        margin-top: 2vw;
        .form-control{
            width: 68%;
            height: 35%;
            margin-right: 2vw;
            font-family: 'Bubbler One', sans-serif;
        }
        .boton {
            width: 30%;
            height: 35%;
            font-family: 'Bubbler One', sans-serif;
            @extend %boton-form;
        }
    }
    .social-bar {
        display: flex;
        list-style-type: none;
        margin-top: 2vw;
                .icon{
                    margin-bottom: 2vh;
                    padding: 5px;
                    @extend %animacion-nav;
                    @include flex(center, center, nowrap, row);
                    }
                    img{
                        width: 15%;
                }
    }
}

@media (max-width: 700px) {
    footer{
        @include flex(center, center, nowrap, column);
        form{
            @include flex(center, center, nowrap, column);
            .form-control{
                width: 100%;
                height:15% ;
            }
            .boton{
                width: 45%;
                left: 20vw;
            }
        }
        .title-form{
            h3{
                font-size: map-get($tamanios-fuente, textos);
            }
        }
        .social-bar{
            @include flex(center, center, nowrap, row);
            .icon{
                img{
                    width:20%
                }
            }
        }
    }
}

@media (max-width: 500px) {
    footer{
        @include flex(center, center, nowrap, column);
        form{
            @include flex(center, center, nowrap, column);
            .form-control{
                width: 100%;
                height:15% ;
            }
            .boton{
                width: 50%;
                left: 20vw;
            }
        }
        .title-form{
            h3{
                font-size: map-get($tamanios-fuente, textos);
            }
        }
        .social-bar{
            @include flex(center, center, nowrap, row);
            .icon{
                img{
                    width:30%
                }
            }
        }
    }
}