@import '../base/extend';
@import '../base/listas';
@import '../base/mixin';
@import '../base/mixin';

.gallery-container{
    div{
        h2{
            font-size: map-get($tamanios-fuente, t-tulos);
            font-family: map-get($fuentes, titulos);
            @extend %titulos-y-subs;
        }
    }
    div{
        div{
            img{
                width: 70%;
                @extend %animacion-gallery;
            }
        }
    }    
}


@media (max-width:900px) {
    #gallery{
        .gallery-container{
            div{
                div{
                    img{
                        width: 96%;
                    }
                }
            }
        }
    }
}