@import '../base/extend';
@import '../base/listas';
@import '../base/mixin';
@import '../base/mixin';

.gallery-container{
    div{
        h2{
            font-size: map-get($tamanios-fuente, t-tulos);
            font-family: 'Chicle', cursive;
            @extend %titulos-y-subs;
        }
    }
    div{
        div{
            img{
                width: 70%;
                transition: all .8s;
                &:hover{
                transform: scale(3);
                cursor: pointer;
                }
            }
        }    
    }
}

@media (min-width:900px) {
    #gallery{
        .gallery-container{
            div{
                div{
                    img{
                        width: 96%;
                        transition: all .8s;
                        &:hover{
                            transform: scale(1.5);
                            cursor:pointer;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:700px) {
    #gallery{
        .gallery-container{
            div{
                div{
                    img{
                        width: 96%;
                        transition: all .8s;
                        &:hover{
                            transform: scale(2);
                            cursor:pointer;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:500px) {
    #gallery{
        .gallery-container{
            position: relative;
            top: 14vh;
            div{
                div{
                    img{
                        width: 100%;
                        transition: none;
                        &:hover{
                            transform: none;
                            cursor:auto
                        }
                    }
                }
            }
        }
    }
}

