@import 'base/extend';
@import 'base/listas';
@import 'base/variables';

header{
    .navbar{
        h1{
            font-family: map-get($font-family, titulos);
        }
        #MenuNavegacion {
            ul{
                li{
                    a{
                        font-family: map-get($font-family, titulos);
                        font-size: nth($tamanios-fuente, 5);
                    }
                }
            }
        }
    }
}