@import '../base/extend';
@import '../base/listas';
@import '../base/mixin';
@import '../base/mixin';


header{
    position: relative;
    z-index:2 ;
    @extend %glass-morphism;
    .navbar{
        h1{
            font-family: 'Chicle', cursive;
            font-size: map-get($tamanios-fuente, brand);
            @extend %titulos-y-subs;
        }
        #MenuNavegacion {
            ul{
                li{
                    @extend %animacion-nav;
                    a{
                        font-family: 'Chicle', cursive;
                        font-size: map-get($tamanios-fuente, links);
                        @extend %titulos-y-subs;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    header{
        position:fixed;
        z-index: 1;
    }
}