@import '../base/extend';
@import '../base/listas';
@import '../base/mixin';
@import '../base/mixin';
@import '../base/global';
#music{
    background-image: url(../../Media/Fotos/buganvilia.svg);
    @extend %img-fondo;
    .music-content{
        @include flex(flex-start, center, nowrap, row);
        padding: 8%;
        .tapa{
            img{
                width: 80%;
            }
        }
    }
}


@media (max-width:900px) {
    .music-content{
        .tapa{
            display: none;
        }
    }
}