@import '../base/extend';
@import '../base/listas';

.music{
    background-image: url(../../Media/Fotos/buganvilia.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    .music-content{
        display: flex;
        padding: 8%;
        h2{
            @extend %titulos-y-subs;
            font-size: map-get($tamanios-fuente, t-tulos);
            font-family: map-get($font-family, titulos);
            position: relative;
            left: 18vw;
            display: inline;
        }
        .tapa{
            img{
                width: 60%;
                position: relative;
                top: 10vh;
            }
        .spotify{
            iframe{
                position: relative;
                top: 5vh;
            }
        }
        }
    }
}

@media (max-width:900px) {
    .music-content{
        h2{
            display: none;
        }
        .tapa{
            display: none;
        }
    }
}