@font-face {
    font-family: titulos-funky;
    src: url(../../Fuentes/Chicle/Chicle-Regular.ttf);
}
@font-face {
    font-family: parrafos;
    src: url(../../Fuentes/Bubbler_One/BubblerOne-Regular.ttf);
}

html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}