@import 'variables';
$tamanios-fuente:(
    'brand': 45px,
    'textos': 18px,
    'links' : 26px,
    'subtitulos': 36px,
    't-tulos': 40px
);

$colores:(
    'tamarind':	rgb(86, 13, 80),
    'mag': rgb(133, 9, 123),
    'deep-blush': 	rgb(230, 111, 137),
    'acapulco': 	rgb(135, 187, 9),
    'purple-heart': rgb(126, 55, 172),
    'jaffa':rgb(243, 145, 67),
    'kobi': rgb(232, 161, 170)
);

$fuentes: (
    'titulos': titulos-funky,
    'parrafos': parrafos
);