$tamaños-fuente:
10px,
12px,
15px,
18px,
20px,
25px;

$colores:(
    'tamarind':	rgb(49, 20, 46),
    'deep-blush': 	rgb(230, 111, 137),
    'acapulco': 	rgb(135, 187, 9),
    'purple-heart': rgb(137, 55, 192),
    'jaffa':rgb(243, 145, 67),
    'kobi': rgb(232, 161, 170)
);

$font-family: (
    'titulos': titulos-funky,
    'parrafos': parrafos
);